/* HTML110 Lesson 03. Learning about styling CSS
Student: Chan Luy
Project: Lesson 02: Milestone 1 Assigment*/

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      <body>

        {
          color: dodgerblue;
          background-color: gray
        }
        p{
          color: DarkSeaGreen;
          text-align: left;
          color: inherit;
        }
        .main-paragraph:hover {
          background: DarkMagenta;
        }
        a[href="./About-Me.html"]{
        }
        img {
        width: 25%;
      }
      p { color: blue;}
      .purple-text { color: purple;}
      p { color: orange;}
      h1 {
      color: purple;
    }
  
    body {
      background-color: dodgerblue;
    }

    h1 {
      color: purple;
      border-style: solid;
      border-width: 1 px;
      border-color: red;
    }
    p.important {
      width: 75%;
    }
    img {
      border-style: ridge;
      border-color: orange;
      border-width: 3px;
      width: 25%;
    }
    /* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
      </body>
    </style>
  </head>
  <body>
    <h1>Website Title text</h1>

    <p> class="main-paragraph" Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <div>
      <ul>
        <li>One Item</li>
        <li>Two Item</li>
        <li>Three Item</li>
      </ul>



    </div>
  </body>
</html>
